body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    
}

.heading{
    font-size: 56px;
    color: #4c2c1d;
    text-align: center;
    font-weight: bold;
}

.content{
    font-size: 25px;
  font-family:'Poppins', sans-serif;
  color: #002147;
  text-align: center;
}


main {
    color:  #002147;
    background-color: #f9f3e6;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 50px;
    margin-bottom: 100px;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    color: #444;
    margin-bottom: 15px;
}

p {
    font-size: 16px;
    margin-bottom: 15px;
}

ul {
    list-style: disc;
    margin-left: 30px;
    margin-bottom: 15px;
}

li {
    font-size: 16px;
}

.button-container {
    position:sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:#001f3f; /* Semi-transparent background for button-container */
    padding: 10px 0;
    text-align: center;
    z-index: 1; /* Set higher z-index to place container above the background */
  }
  
  .animated-button {
    display: inline-block;
    padding: 20px 40px;
    background-color: #d4af37;
    color: #4c2c1d;
    font-size: 28px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .link-text {
    background: linear-gradient(to right, #f32170,
                      #ff6b08, #cf23cf, #eedd44);
              -webkit-text-fill-color: transparent;
              -webkit-background-clip: text;
    font-weight: bold;
    font-size: 20px;
  }