@import url('https://fonts.googleapis.com/css2?family=Lora&family=Mr+Dafoe&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300&family=Roboto:wght@300;400;500&display=swap');



body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f3e6;
}




@keyframes zoomBackground {
  0%, 100% {
    background-size: 100%;
  }
  50% {
    background-image: url('tiles/8-the-porcelain-room/preview.jpg');
    background-size: 120%;
  }
  100%, 150% {
    background-image: url('tiles/7-the-billiard-room/preview.jpg');
    background-size: 120%;
  }
}


.container {
  position: relative;
  width: 100%;
  min-height: 100vh; /* Ensure the container is at least the viewport height */
  padding-bottom: 100px; /* Adjust the padding to make space for the button-container */
}

.heading {
  font-family: 'Playfair Display', 'serif';
  font-size: 70px;
  text-align: center;
  padding-top: 20px;
  color: #4c2c1d;
  
}

.center{
  text-align: center;
}

.about-info{
  font-size: 75px;
}

.intro {
  font-size: 25px;
  font-family:'Poppins', sans-serif;
  font-weight: 500;
  color: #002147;
  padding-top: 30px;
  padding-left: 130px;
  padding-right: 130px;
  text-align: justify;
   
}

.button-container {
  position:sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color:#001f3f; /* Semi-transparent background for button-container */
  padding: 10px 0;
  text-align: center;
  z-index: 1; /* Set higher z-index to place container above the background */
}

.animated-button {
  display: inline-block;
  padding: 20px 40px;
  background-color: #d4af37;
  color: #4c2c1d;
  font-size: 28px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.animated-button:hover {
  transform: scale(1.1);
}

.link-text {
  font-size: 20px;
  margin-top: 10px;
  font-weight: bolder;
}

.link-text {
  background: linear-gradient(to right, #f32170,
                    #ff6b08, #cf23cf, #eedd44);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
  font-weight: bold;
  font-size: 20px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 20px;
  margin-top: 150px;
  margin-bottom: 150px;
}

.image-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image-item img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease-in-out;
}

.image-item .image-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 33, 71, 0.8);
  color: #fff;
  padding: 8px 16px;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.image-item:hover img {
  transform: scale(1.1);
}

.image-item:hover .image-title {
  opacity: 1;
  transform: translateY(0);
}